<div class="login">
    <div class="container">
        <div class="login-wrapper">
            <form [formGroup]="form">
                <div class="overlay"></div>
                <div class="form-wrapper">
                    <h3>Đăng nhập bằng tài khoản quản trị</h3>
                    <div class="form-input-group">
                        <div class="group mt-2">
                            <i class="bi bi-envelope-fill"></i>
                            <input formControlName="email" pInputText placeholder="Email" />
                        </div>
                        <div class="group mt-2">
                            <i class="bi bi-lock-fill"></i>
                            <p-password formControlName="password" placeholder="Password" [feedback]="false"
                                formControlName="password" [toggleMask]="true" />
                        </div>
                        <div class="group d-flex justify-content-end">
                            <span>Quên mật khẩu ?</span>
                        </div>
                    </div>
                    <div class="form-button-group">
                        <div class="group">
                            <button (click)="login()" [disabled]="form.invalid">Đăng nhập</button>
                        </div>
                    </div>
                    <div class="form-other-group text-center mt-3">
                        Đăng ký tài khoản ? <a class="text-decoration-none" href="/register">Đăng ký ngay</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>