<div class="row">
    <div class="col-4">
        <div class="create-category">
            <h2 class="title"><i class="bi bi-plus-circle-dotted"></i> Thêm thẻ</h2>
            <form [formGroup]="form">
                <div class="group d-flex gap-2">
                    <label style="flex: 0 0 30%;" for="title">Tên thẻ:</label>
                    <input pInputText style="flex: 0 0 70%;"
                        [ngClass]="{'ng-invalid ng-dirty': form.get('title')?.invalid && form.get('title')?.touched}"
                        formControlName="title" id="title" aria-describedby="title-help" />
                </div>
                <div class="group d-flex  gap-2">
                    <label style="flex: 0 0 30%;">Mô tả:</label>
                    <div style="flex: 0 0 70%;">
                        <textarea pInputTextarea formControlName="description" rows="5" cols="30">
                        </textarea>
                    </div>
                </div>

                <div class="group d-flex gap-2">
                    <ng-container *ngIf="isEdit">
                        <button (click)="cancelEdit()" class="button-cancel">Hủy</button>
                    </ng-container>
                    <button (click)="submit()" class="button-default">Lưu</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8">
        <div class="list-category">
            <h2 class="title"><i class="{{introduce.icon}}"></i> {{introduce.title}}</h2>
            <div class="list-wrapper">
                <app-table [pagination]="true" [search]="true" [stt]="true" [cols]="columns" [data]="tags"
                    (actionHandle)="receivedActionHandle($event)"></app-table>
            </div>
        </div>
    </div>
</div>
<p-toast [life]="5000" />
<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="d-flex flex-column align-items-center p-5 bg-light rounded">
            <div class="rounded-circle bg-confirm-deleted d-flex justify-content-center align-items-center"
                style="height: 6rem; width: 6rem;">
                <i class="bi bi-exclamation-lg" style="font-size: 2.5rem; color: #fff;"></i>
            </div>
            <span class="fw-bold fs-4 my-3">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="d-flex gap-2 mt-4 w-100 justify-content-between">
                <button pButton label="Hủy" (click)="cd.reject()" class="button-cancel w-50"></button>
                <button pButton label="Xác nhận" (click)="cd.accept()"
                    class="button-default confirm-deleted w-50"></button>
            </div>
        </div>

    </ng-template>
</p-confirmDialog>