<div class="app-container">
  <div class="app-menu">
    <app-menu *ngIf="logged" (toggleMenu)="receivedToggleMenu($event)"></app-menu>
  </div>
  <div *ngIf="logged; else notLogged" class="app-content"
    [style.padding]="toggleMenu ? '26px 12px 12px 103px' : '26px 12px 12px 285px'">
    <router-outlet></router-outlet>
  </div>
  <ng-template #notLogged>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>

</div>

<div class="loading" id="loading">
  <div class="loading-overlay"></div>
  <div class="loader"></div>
</div>