<div class="row mt-4">
    <div class="col-6">
        <h5>Lưu lượng truy cập người dùng</h5>
        <p-chart type="line" [data]="dataPopularPost" [options]="optionsPopularPost" />
    </div>
    <div class="col-6">
        <h5>Biểu đồ bài viết phổ biến nhất</h5>
        <p-chart type="bar" [data]="dataPopularPost" [options]="optionsPopularPost" />
    </div>
</div>

<div class="row mt-4">
    <div class="col-6 d-flex align-items-center justify-content-between">
        <p-chart type="pie" [data]="dataAccessSource" [options]="optionsAccessSource" />
        <p-chart type="pie" [data]="dataAccessSource" [options]="optionsAccessSource" />
    </div>
</div>