@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
// import Quill styles in styles.scss
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

:root {
    --main-bg: #f5f5f5;
    --main-text: rgb(45, 37, 50);
    --second-color-text: #f5f5f5;
    --main-bg-button: linear-gradient(90deg, rgba(14, 68, 172, 1) 0%, rgba(31, 78, 205, 1) 35%, rgba(0, 172, 255, 1) 100%);
    --hover-bg-button: linear-gradient(-90deg, rgba(14, 68, 172, 1) 0%, rgba(31, 78, 205, 1) 35%, rgba(0, 172, 255, 1) 100%);
    --bg-button-confirm-deleted: linear-gradient(-90deg, rgba(254, 100, 101, 1) 0%, rgba(245, 0, 0, 1) 100%);
}

[data-theme="dark"] {
    --main-bg: rgb(45, 37, 50);
    --main-text: #f5f5f5;
}


*,
*::after *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: var(--main-bg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.44, rgb(153, 180, 234)),
                color-stop(0.72, rgb(95, 146, 208)),
                color-stop(0.86, rgb(51, 86, 190)));
    }
}

body,
button,
input,
select,
optgroup,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text)
}

.container {
    max-width: 4000px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

input,
textarea {
    border: none;
    outline: none;
    padding: 8px 12px;
    color: var(--main-text);
    font-size: 14px;
    background: #ffff;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

#nprogress .bar {
    background: var(--main-bg-button);
}

.p-confirm-dialog {
    width: 480px;
}

p-fileupload {
    .p-fileupload {
        .p-fileupload-content {

            .item-upload-file {
                gap: 12px;

                img {
                    flex: 1 0 calc(30% - 6px);
                    border-radius: 6px;
                    width: 30%;
                    height: 100%;
                }

                .left {
                    flex: 1 0 calc(70% - 6px);
                }

                span {
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                }

                p-button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                .p-button {
                    padding: 0;
                    border: none;
                    border-radius: 12px;
                    background: transparent;
                    outline: none;

                    span {
                        font-size: 24px;
                        color: #ef4444;
                    }


                }
            }
        }
    }
}

button.default {
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--second-color-text);
    font-weight: bold;
    background: var(--hover-bg-button);
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &::after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }

    &:hover {
        &::after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    span {
        position: relative;
        z-index: 1;
    }
}

/* BUTTON DEFAULT */
.button-cancel {
    padding: 8px 12px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-cancel:hover,
.button-cancel:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-cancel:hover {
    transform: translateY(-1px);
}

.button-cancel:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.button-default {
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: var(--main-bg-button);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &.confirm-deleted {
        background-image: var(--bg-button-confirm-deleted);
    }
}

.bg-confirm-deleted {
    background: var(--bg-button-confirm-deleted);
}

.button-default:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button-default:active {
    transform: scale(0.95);
}

.p-inputtext:enabled:focus,
.p-inputwrapper-filled:enabled:focus {
    box-shadow: unset;
    border-color: unset;
    outline: none;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: unset;
}

/** TABLE */
.custom-toolbar-table {
    padding: 8px;
    border: none;

    .p-toolbar-group-left {
        display: flex;
        gap: 12px;
    }

    .p-toolbar-group-right {
        position: relative;

        i {
            position: absolute;
            left: 0;
            font-weight: bold;
            color: rgb(51, 86, 190);
        }

        input {
            border-radius: 8px 8px 0 0;
            padding: 8px 12px 4px 24px;
            border-bottom: 2px solid rgb(95, 146, 208);
        }
    }

    p-button {
        button {
            height: 35px;
            padding: 8px 12px;
            border-radius: 6px;
            color: #fff;
        }

    }
}

.custom-scroll-table {
    margin-top: 12px;

    .p-datatable-wrapper {
        border-radius: 8px;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgb(153, 180, 234)),
                    color-stop(0.72, rgb(95, 146, 208)),
                    color-stop(0.86, rgb(51, 86, 190)));
        }
    }
}

/* HTML: <div class="loader"></div> */
.loading {
    position: fixed;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 26, 26, 0.3);
        z-index: 1;
    }
}

.loader {
    z-index: 2;
    width: 60px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%, #0000, rgb(45, 107, 221) 1deg 120deg, #0000 121deg);
    animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    transform-origin: 50% 66%;
    animation: l27-1 1.5s infinite;
}

.loader:after {
    --s: -1;
}

@keyframes l27-0 {

    0%,
    30% {
        transform: rotate(0)
    }

    70% {
        transform: rotate(120deg)
    }

    70.01%,
    100% {
        transform: rotate(360deg)
    }
}

@keyframes l27-1 {
    0% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(0)
    }

    30%,
    70% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(calc(var(--s, 1)*-5px), 10px)
    }

    100% {
        transform: rotate(calc(var(--s, 1)*120deg)) translate(0)
    }
}